.login-popup{
    background-color: #00000090;
}

.login-popup-container{
    width: max(23vw,330px);
    color: #808080;
    animation: fadeIn 0.5s;
}

.login-popup-title{

}

.login-popup-title img{

}

.login-popup-inputs{

}

.login-popup-inputs input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 10px;
}

.login-popup-container button{
    background-color: tomato;
}

.login-popup-condition{
    
}

.login-popup-condition input{

}

.login-popup p span{
    color: tomato;
    font-weight: 500;
    cursor: pointer;
}